@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: #05d4f86e;        /* color of the tracking area */
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #05d3f8;    /* color of the scroll thumb */
    border-radius: 20px;
  }

body{
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 100vh;
    line-height: 1.4;
    scroll-behavior: smooth;
    display: block;
    justify-content: center; 
    align-items: center;  
}

.naveItems{
    width: 100%;
}

.navegacao{
    position: fixed;
    top: 50%;
    left: 5px;
    z-index: 9999;
    transform: translate(0, -50%);
    transition: 0.4s  ease;
}

.navegacao .nav-link{
    padding: 0;
}

.navegacao .nav-link.active{
   background-color: #05d3f8;
}

/* .navegacao .nav-link:hover::before{
color: white;
} */

.navegacao a{
    text-transform: uppercase;
    color: white;
}

.navegacao a i{
    position: relative;
    font-size: 18px;
    color: white;
    padding: 15px 15px;
    width: 100%;
    text-align: center;
}

.navegacao a span{
    visibility: hidden;
}

.navegacao a span{
    padding-left: 10px;
    position: absolute;
    color: white;
    margin: 13px 0;
    font-weight: 500;
    letter-spacing: 2px;
}

.navegacao a:hover i{
    transition: 0.2s ease;
    color: #05d3f8;
}

.nav-link.active i:hover{
    transition: 0.2s ease;
    color: white;
}

#icon{
    color: white;
}

.navegacao a:hover span{
    visibility: visible;
    transform: translateX(15px);
    transition: 0.2s ease;
}

.nav-link.active span{
    visibility: visible;
    transform: translateX(15px);
}












#particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.text-home {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.text-home h1{
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: -2px;
    z-index: 9;
}

.container-home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home p {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container-home p span.typed-text {
    font-weight: normal;
    color: #05d3f8;
}

.container-home p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container-home p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

.seta{
    font-size: 30px;
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
.seta a{
    color: aliceblue;
}

.seta a:hover{
    color: #05d3f8;
    text-decoration: none;
    transition: 300ms linear !important;
}

.home .redes-sociais{
    z-index: 9999;
    display: inline-flex;
    width: 200px;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-size: 20px;
}

.home .redes-sociais a{
    color: aliceblue;
}

.home .redes-sociais a:hover{
    color: #05d3f8;
    text-decoration: none;
    transition: 300ms linear !important;
}

hr{
    margin: 0;
    border: 0;
    background-image: linear-gradient(to right, transparent, #05d3f8, transparent);
    height: 1px;
}
  
  











.sobre .row{
    margin: 0;
    height: 100vh;
}

.sobre .imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre .sobre-mim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}

.sobre img{
    width: 320px;
    border: 20px white solid;
    filter: grayscale(1);
}

.sobre img:hover{
    resize: 2;
    width: 320px;
    border: 10px white solid;
    filter: grayscale(0);
    transition: 0.5s ease;
}

.modal-content{
    background-color: rgb(0, 0, 0);
}

.modal-header{
    border: none;
    flex-direction: column;
    align-items: center;
    height:100%;
    justify-content: flex-start;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.modal-header h5{
    text-align: center;
}

/* Estilo para a camada de desfoque */
.blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1040; /* Deve estar abaixo do modal */
    pointer-events: none; /* Impede que o fundo seja clicável */
    transition: backdrop-filter 0.3s;
    display: none; /* Escondido por padrão */
  }
  

.sobre .carousel-indicators {
    bottom: 0;
    position: relative;
}

.sobre .carousel-inner {
    height: 300px;
    width: 350px;
    overflow-y: visible;
    overflow-x: hidden;
}

.sobre .carousel-indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.sobre button.close {
    color: white;
    padding: 10px;
    display: flex;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    justify-content: flex-start;
    flex-direction: row-reverse;
    top: 10px;
    right: 10px;
}

.sobre .close:not(:disabled):not(.disabled):hover {
    color: #fff;
    resize: 2;
    text-decoration: none;
}

.sobre .close{
    text-shadow: none;
}

.sobre .barra-progresso{
    width: 350px;
    margin: 20px 0;
}

.sobre .progress-bar{
    background-color: #05d3f8;
}

.carousel-control-prev {
    left: -70px;
}
.carousel-control-next {
    right: -70px;
}







  
  .rb-container {
    font-family: "PT Sans", sans-serif;
    display: block;
    position: relative;
  }
  
  .rb-container ul.rb {
    margin: 1em 0;
    padding: 0;
    display: inline-block;
  }
  
  .rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 1em;
    min-height: 50px;
    border-left: 1px dashed #fff;
    padding: 0 0 50px 30px;
    position: relative;
  }
  
  .rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
  .rb-container ul.rb li::before {
    position: absolute;
    left: -10px;

    content: " ";
    border: 8px solid rgba(255, 255, 255, 1);
    border-radius: 500%;
    background: #05d3f8;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  }
  
  .rb-container ul.rb li:hover::before {
    border-color: #232931;
    transition: all 1000ms ease-in-out;
  }
  
  ul.rb li .timestamp {
    text-transform: uppercase;
    color: #05d3f8;
    position: relative;
    width: 100px;
    font-size: 12px;
    text-wrap: nowrap;
  }
  
  .item-title {
    padding-right: 20px;
    color: #fff;
  }
  